bin/Debug/GameTest.exe
bin/Debug/GameTest.exe.config
bin/Debug/GameTest.pdb
bin/Debug/GameTest.vshost.exe
bin/Debug/GameTest.vshost.exe.config
bin/Debug/GameTest.vshost.exe.manifest
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GameTest.csproj.FileListAbsolute.txt
obj/Debug/GameTest.csproj.GenerateResource.Cache
obj/Debug/GameTest.csprojResolveAssemblyReference.cache
obj/Debug/GameTest.exe
obj/Debug/GameTest.pdb
obj/Debug/GameTest.WindowsForms.GameForm.resources
obj/Debug/GameTest.WindowsForms.StartMenu.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Game.Images.Designer.cs.dll
obj/Debug/GameTest.Game.Images.resources
obj/Debug/GameTest_MarkupCompile.i.cache
obj/Debug/GameTest_MarkupCompile.i.lref
obj/Debug/WPF/GameFrameWPF.g.i.cs
